/*---Reset do documento---*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html, body{
    height:100%;
}

/*

.container{
    max-width:1280px;
    margin:0 auto;
}

*/

/*---Inicio da estilização--*/

header{
    width:100%;
    height:60px;
    padding-top:5px;
    padding-right:25px;
}

.header-content{
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
}

.header-content .links, .app-icon{
    margin-right:14px;
}

.header-content .links{
    margin-top:16px;
}

.header-content .app-icon{
    margin-top:14px;
}

.header-content span a{
    text-decoration:none;
    color:black;
    font-size:13px;
    padding:0 5px;
}

.header-content span a:hover{
    text-decoration:underline;
    color:rgb(190,190,190);
}

.header-content .app-icon{
    width:23px;
    height:23px;
    background-image:url('../images/icon.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    display:inline-block;
    cursor:pointer;
}

.header-content input[type=submit]{
    padding:7px 15px;
    background-color:#4485f3;
    color:white;
    text-align:center;
    border:0;
    border-radius:2px;
    font-weight:bold;
    margin-top:10px;
}

section.middle{
    width:100%;
    position:relative;
    top:20%;
    left:50%;
    transform:translate(-50%, -20%);
}

section.middle{
    text-align:center;
}

section.middle .logo{
    width:300px;
    height:100px;
    background-image:url('../images/logo.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    margin:0 auto;
}

section.middle .search-bar{
    margin-top:15px;
}

section.middle .search-bar input{
    width:39%;
    max-width:650px;
    height:48px;
    border-radius:20px;
    border:1px solid rgb(220,220,220);
    padding-left:46px;
    font-size:16px;
    padding-right:82px;
}

section.middle .btn-search{
    margin-top:25px;
}

section.middle .btn-search input{
    width:142px;
    height:35px;
    margin:0 5px;
    font-size:14px;
    border:0;
    border-radius:2px;
    cursor:pointer;
}

section.middle .search-bar .lupa{
    position:absolute;
    left:31.6%;
    top:65px;
}

section.middle .search-bar .keyboard{
    position:absolute;
    left:64%;
    top:132px;
}

section.middle .search-bar .phone{
    position:absolute;
    left:66.5%;
    top:128px;
}

section.middle .btn-search input:focus, section.middle .search-bar input:focus{
    outline:0;
}

section.middle .btn-search input:hover{
    border:1px solid rgb(200,200,200);
}

footer{
    width:100%;
    height:80px;
    background-color:rgb(220,220,220);
    position:absolute;
    left:0;
    bottom:0;
    border-top:1px solid #ccc;
}

footer .flex-container{
    display:flex;
    padding-top:23px;
    padding-top:20px;
    padding-right:30px;
    padding-left:30px;
}

footer .location h4{
    font-weight:normal;
    font-size:15px;
    color:rgb(120,120,120);
    padding-left:30px;
    padding-top:10px;
}

footer .left-links{
    justify-content:flex-start;
}

footer .left-links span a, .right-links span a{
    text-decoration:none;
    color:rgb(120,120,120);
    font-size:15px;
}

footer .left-links span a:hover, .right-links span a:hover{
    text-decoration:underline;
}

footer .left-links span, .right-links span{
    padding-right:20px;
}

footer .right-links span:last-of-type{
    padding-right:0;
}

footer .right-links{
    justify-content:flex-end;
    margin-left:auto;
}

.border-footer{
    width:100%;
    border:1px solid rgb(200,200,200);
    position:absolute;
    bottom:40px;
}

@media screen and (max-width:768px){

    header{
        display:none;
    }

    section.middle .search-bar input{
        width:90%;
        max-width:450px;
        line-height:48px;
    }

    section.middle{
        width:100%;
        height:50%;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding-top:0;
    }

    section.middle{
        text-align:center;
        margin:0 auto;
    }

    section.middle .logo{
        width:100%;
        height:90px;
        margin:0 auto;
        padding-top:0;
    }

    section.middle .btn-search{
        width:100%;
        margin-top:14px
    }

    section.middle .btn-search input{
        margin:6px;
    }

    section.middle .search-bar .lupa, section.middle .search-bar .keyboard, section.middle .search-bar .phone{
        display:none;
    }

    footer{
        width:100%;
        height:auto;
    }
    
    footer .flex-container{
        display:block;
        padding:0;
        text-align:center;
    }
    
    footer .location h4{
        padding-left:0;
        padding-top:10px;
        text-align:center;
    }
    
    footer .left-links{
        display:none;
        justify-content:0;
    }

    footer .left-links span, .right-links span{
        padding-right:0;
    }

    footer .right-links span{
        padding-right:20px;
    }
    
    footer .right-links span:last-of-type{
        padding-right:0;
    }
    
    footer .right-links{
        text-align:center;
        justify-content:0;
        margin-left:0;
        padding:12px 0 10px 0;
    }
    
    .border-footer{
        display:none;
    }
}

/*---------------------------------------------------------------------------------------------*/





